body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #141414; 
    color: white;
    margin: 0;
    padding: 0;
}

header {
    background: #000; 
    color: #fff;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.curved-title {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 48px;
    position: relative;
    display: inline-block;
    white-space: nowrap;
    color: #e50914;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.75);
}

.curved-title:before,
.curved-title:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 100%;
    height: 50%;
    background: inherit;
    z-index: -1;
    border-radius: 100%/100px;
}

.curved-title:before {
    left: 0;
    transform: rotate(3deg);
    transform-origin: top left;
}

.curved-title:after {
    right: 0;
    transform: rotate(-3deg);
    transform-origin: top right;
}

main {
    padding: 20px;
    max-width: 960px;
    margin: 20px auto;
    background: #181818;
    border-radius: 10px;
}

.chart {
    width: 100%;
    height: auto;
    background: #222;
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 20px;
    border-radius: 10px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.box {
    padding: 20px;
    background: #333;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border: 2px solid #e50914; /* Add a border to create a box */
    width: 100%;
}

.box table {
    width: 100%;
    border-collapse: collapse;
}

.box th,
.box td {
    border: 1px solid #444;
    padding: 10px;
    text-align: center;
}

.box th {
    background-color: #555;
}

.box td {
    background-color: #666;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #181818;
    color: #ccc;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    border-radius: 0;
}

footer p {
    margin: 0;
}

#swapViewButton {
    padding: 8px 16px;
    background-color: #e50914;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#swapViewButton:hover {
    background-color: #f73d1f;
}
